
<div id="home">
    <div class="col-sm-12">
        <div id="header">
            <h1 id="header-1-text" class="faa-tada animated-hover">Hack Volusia</h1>
            <div class="navHomeUser"></div>
            <div id="header-2-text" >Saturday December 2nd, 2017 @ The Daytona Beach UCF Business Incubator.</div>
            <h1>
                <i class="fa fa-angle-double-down faa-falling animated" aria-hidden="true"></i>
            </h1>
        </div>
    </div>

    <div class="col-sm-12 main-middle pad">
        <div id="about" class="main">
            <div class="col-sm-12">
                <h2>About</h2>
                <p>Hack Volusia aims to bring STEM enthusiasts from local Colleges & Universities together in a business environment to help grow Volusia County's Economy.</p>
            </div>
            <div class="col-sm-6 pad">
                <h3>What is a Hackathon?</h3>
                <p>
                    A hackathon is best described as an “invention marathon”. Anyone who has an interest in technology attends a hackathon to learn, build & share their creations.
                    We will have plenty of workshops to help new hackers along with mentors from various local companies.
                </p>
            </div>
            <div class="col-sm-6 pad">
                <h3>Cost</h3>
                <p>
                    Hack Volusia is completely free thanks to our generous sponsors. We will have plenty of food for our competitors including breakfast, lunch, dinner, and snacks (please fill out dietary restrictions when registering so we may accommodate you).
                    Parking is free but limited so please carpool.
                </p>
            </div>
            <div class="col-sm-6">
                <h3>Rules & Additional Information</h3>
                <p>
                    Teams of up to 1-4 hackers may compete there will be team building before and after the opening ceremony.
                    We ask that projects are not worked on before the Hackathon begins to keep an equal playing field.
                    All participants must agree to the MLH Code of conduct located <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">HERE</a>.
                </p>
            </div>
            <div class="col-sm-6">
                <h3>When & Where</h3>
                <p>
                    Saturday December 2nd 9AM-9PM, at the UCF Business Incubator in Daytona Beach, FL 601 Innovation Way (right next to the airport).<br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3483.310631897876!2d-81.06009814921937!3d29.184980265525358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e6d93eddeccb87%3A0xaa7f4e2e390956c7!2s601+Innovation+Way%2C+Daytona+Beach%2C+FL+32114!5e0!3m2!1sen!2sus!4v1508506897849" width="300" height="175" frameborder="0" style="border:0" allowfullscreen></iframe>
                </p>
            </div>
        </div>
    </div>

    <!--<div class="col-sm-12 pad">-->
        <!--<div id="team">-->
            <!--<div class="col-sm-12">-->
                <!--<h2>The Team</h2>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-3">-->
                    <!--<p>Connie</p>-->
                    <!--<img src="https://s3.us-east-2.amazonaws.com/hackvolusia/conniepic.png"  class="img-responsive img-rounded" alt="Volusia">-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                    <!--<p>KP</p>-->
                    <!--<img src="https://s3.us-east-2.amazonaws.com/hackvolusia/kp.png" class="img-responsive img-rounded" alt="Volusia">-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                    <!--<p>Brendan</p>-->
                    <!--<img src="https://s3.us-east-2.amazonaws.com/hackvolusia/megustamar.jpg" class="img-responsive img-rounded" alt="The 1 & Only">-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                    <!--<p>Sheldon</p>-->
                    <!--<img src="https://s3.us-east-2.amazonaws.com/hackvolusia/sheldon.jpg" class="img-responsive img-rounded" alt="Volusia">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div id="team" class="col-sm-12 pad">
        <div id="why" class="pad">
            <h2>Why Hack?</h2>
            <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/7m1s2NFOGyg" frameborder="0" allowfullscreen></iframe>-->
            <iframe class="iframe-responsive" width="560" height="315" src="https://www.youtube.com/embed/Eh-FZcydhy0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-sm-12 pad main-middle">
        <div id="schedule" class="col-sm-12">
            <h2>Schedule</h2>
            <p class="col-sm-6 col-sm-offset-5 schedule-left">
                8:00 AM - Check In & Breakfast Begins.<br>
                9:00 AM - Opening Ceremony.<br>
                9:15 AM - Hacking Begins.<br>
                10:00AM - Optional Docker workshop.<br>
                11:00AM - Optional 3d printer workshop.<br>
                12:00PM - Lunch.<br>
                2:00 PM - Cup Stacking.<br>
                5:00 PM - Optional github & devpost workshop.<br>
                5:30 PM - Dinner. <br>
                8:00 PM - Hacking Ends.<br>
                8:15 PM - Expo.<br>
                8:45 PM - Awards & Closing Remarks.<br>
            </p>
        </div>
        <div id="contact" class="col-sm-12 pad">
            <h2>Contact Us</h2>
            <p>
                Send an Email to <a href="mailto:info@hackvolusia.com">info@hackvolusia.com</a> & we will get back to you asap.
            </p>
        </div>
    </div>

    <div class="col-sm-12 pad">
        <div id="sponsors">
            <h2>Sponsors</h2>
            <div class="col-sm-4">
                <img src="https://s3.us-east-2.amazonaws.com/hackvolusia/ssilogo.png" class="img-rounded center-image" alt="Smart Sign" width="75%" height="400px">
            </div>
            <div class="col-sm-4">
                <img src="https://s3.us-east-2.amazonaws.com/hackvolusia/vc.png" class="img-rounded center-image" alt="Volusia" width="75%" height="400px">
            </div>
            <div class="col-sm-4">
                <img src="https://s3.us-east-2.amazonaws.com/hackvolusia/Logo.jpg" class="img-rounded center-image" alt="Volusia" width="75%" height="400px">
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <footer>
            <p><i class="fa fa-hand-lizard-o" aria-hidden="true"></i><a href="https://github.com/btackney"> Brendan Tackney, SSI Inc. </a></p>
        </footer>
    </div>
</div>

