<nav id="hvcNav" class="navbar navbar-fixed-top navbar-default navbar-image-hvc">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div id="hvcSNav" class="navbar-header navbar-image-hvc-a">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand homeAnchor" href="#">Hack Volusia</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-image-hvc-a hvcLNav">
                <li><a href="#about" class="homeAnchor">About<span class="sr-only">(current)</span></a></li>
                <li><a href="#schedule" class="homeAnchor">Schedule</a></li>
                <li><a href="#contact" class="homeAnchor">Contact Us</a></li>
                <li><a href="#why" class="homeAnchor">Why Hack?</a></li>
                <li><a href="#sponsors" class="homeAnchor">Sponsors</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-image-hvc-a hvcLNav navUser">
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
