<div class="rs-home s-box col-sm-offset-3 col-sm-6">
    <h1>Change Password <div id="emailChangePassword"></div></h1>
    <b>Reset Code:</b><input id="passwordResetCode" type="password" placeholder="12345" /><br>
    New Password:<input id="passwordChange" type="password" placeholder="password12345" /><br>
    Confirm New Password:<input id="confirmPasswordChange" type="password" placeholder="password12345" /><br>
    <button id="changePassword" class="btn btn-primary">Change Password</button>
</div>
