<div class="rs-home m-box col-sm-offset-3 col-sm-6">
    <h1>Manage Your Account</h1><br>
    <div id="manageProfileContent">
        <p>
            First & Last Name: <input id="profileName" placeholder="ex Brendan Tackney" /><br>
            School: <input id="profileSchool" placeholder="ex Daytona State College" /><br>
            Email: <input id="profileEmail" placeholder="ex brendan@ucf.edu" /><br>
            Other: <textarea id="profileOther" placeholder="ex Food allergies, dietary restrictions, etc..." ></textarea><br>
            Plan to attend/RSVP Status: <input id="profileRSVP" placeholder="true/fasle/definitlymaybe"/>
            <br><button id="doManageProfile" class="btn btn-primary">Edit Profile</button>
        </p>
    </div>
</div>
