<div class="rs-home r-box col-sm-offset-3 col-sm-6">
    <h1>Registration</h1><br>
    <div id="registrationContent">
        <p>
            First & Last Name: <input id="name" placeholder="ex Brendan Tackney" /><br>
            School: <input id="school" placeholder="ex Bethune–Cookman University" /><br>
            Other: <textarea id="other" placeholder="ex Food allergies, dietary restrictions, etc..." ></textarea><br>
            Email: <input id="email" placeholder="ex Brendan@daytonastate.edu" /><br>
            Password: <input id="password" type="password" placeholder="what?" /><br>
            Confirm Password: <input id="confirmPassword"  type="password" placeholder="huh?" /><br>
            <br><button id="doRegister" class="btn btn-primary">Register</button>
        </p>
    </div>
</div>
